<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <% if current_admin %>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              <% end %>
    </tr>
  <% end %>
</table>

<% if current_admin %>
<%= link_to 'admins back', admin_path(current_admin)%>

<% end %>

<p id="home_p"><a href ="/">HOME</a></p>
